:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  margin-bottom: 15vh;
}

h2 {
  font-family:cursive;
  font-size: 2em;
  color: black;
  text-align: center;
}

h3 {
  font-size:xx-large;
}

.about-me-title {
  color: whitesmoke;
  font-size: 48px;
  font-weight: bold;
  margin: 5px 0;
}

.about-me-subtitle {
  color: whitesmoke;
  font-size: 18px;
  font-style: italic;
  margin: 25px;
}

.portfolio-page {
  margin-top : 15vh;
  margin-left : 5vh;
  display : flex;
  position: relative;
  width: 100%;
  height: 75vh;
  z-index: 0;
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  width: 100%;
  height: 75vh;
  z-index: 1;
}

.content {
  background-color: rgba(255, 255, 255, 0.882);
  color: black;
  backdrop-filter: blur(1px); 
  border-radius: 10px; 
  margin-left: 30vw;
  width: 40%;
  display : flex;
  justify-content : center;
  border: 2px solid #0f0;
}

li {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 2.3em;
  line-height: 1.2;
  list-style-type: none;
  cursor: pointer;
  opacity: 0.7;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

li + li {
  margin-top: 10vh;
}

li.active {
  transform: translateX(3vW);
  opacity: 1; 
}

.logo {
  position: absolute; 
  top: 5%; 
  left: 10%; 
  transform: translateX(-50%); 
  z-index: 1; 
  width: 15%; 
}

.text {
  overflow-y: auto;
  max-height: 23vw;
  font-size: 1.4rem ;
  line-height: 1.1;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text1 {
  overflow-y: auto;
  font-size: 1.4rem;
  line-height: 1.1;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #0f0; 
}

.contacts {
  transform: scale(1.311);
  text-align: center;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  position: relative;
}

.resume {
  width: 40vw;
  justify-content: center;
  align-items: center;
}

.resume h2 {
  color: green;
}

.resume-section {
  transform: scale(1); 
  transition: transform 0.8s ease;
  position: relative;
  background-color: #000;
}

.iframe-container {
  position: relative;
}

.iframe-container iframe {
  margin-top: 4vh;
  margin-left: 0.9vw;
  height: 60vh;
  width: 38vw;
  transition: transform 0.8s ease;
}

.iframe-container:hover iframe {
  transform: scale(1.7);
  width: 100%;
  border: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #8d92f3;
}

.matrix-container {
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  max-width: 40vw;
  height: 74.5vh;
  overflow: hidden;
  background-color: black;
}

.matrix-text {
  font-size: 16px;
  color: #0f0;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 10px;
  font-family: monospace;
  line-height: 1.55;
}

.matrix-text span {
  animation: fall 1s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100%);
    opacity: 0.4;
  }
  100% {
    transform: translateY(100%);
    opacity: 1.4;
  }
}

.image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4vh;
}

.center-image {
  max-width: 100%;
  height: 30vh;
  border-radius: 100px 100px;
}

.skills-section {
  width: 100%;
  background-color: black; 
  padding: 5px;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.logos-container {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

.logos .logo-container {
  margin: 15px;
  width: 80px; 
  height: 80px; 
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; 
}

.logos img {
  width: 100%;
  height: 100%; 
  object-fit: contain;
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 10px; 
  border-radius: 8px; 
}

@keyframes fadeIn {
  from {
    transform: translateY(-80%);
    opacity: 0.1;
  }
  to {
    transform: translateY(10%);
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.8s ease-in forwards;
}

.hidden {
  display: none;
}


.project-card {
  margin-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
  border: 1px solid black;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}

.project-card:hover {
  box-shadow: 0px 0px 10px green;
}

.project-card .card-body {
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding: 20px;
}

.project-card .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-card .card-text {
  color: #555;
}

.projects-section {
  overflow-y: auto; 
  max-height: 600px; 
}

.scrollable {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; 
  padding-bottom: 20px; 
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.project-card a:hover {
  color: #0056b3;
}

.project-image {
  max-width: 100%;
  height: auto; 
  max-height: 300px; 
  object-fit: contain; 
}

@media screen and (max-width: 768px) {
  .portfolio-page {
    margin-top : 15vh;
    margin-left : 0vh;
    flex-direction: column;
    align-items: flex-start; 
    height: auto; /
  }
  .sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000; 
  }
  .sidebar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .sidebar li {
    margin: 0 15px;
    font-size: small;
    opacity: 0.7; 
    transform: translateY(5px); 
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .sidebar li.active {
    opacity: 1; 
    transform: translateY(0); 
  }
  .about-me-section,
  .projects-section,
  .skills-section,
  .resume-section,
  .contact-section {
    width: 700px;
    margin: 0 auto; 
    max-width: 100%; 
  }
  .skills-section {
    width: 100%;
    background-color: black; 
  }

  .skills-section h2 {
    margin-bottom:0 ;
  }

  .logos .logo-container {
    width: 20%;
    padding-top: 0; 
    margin: 2px;
  }

  .logos img {
    width: 70%;
    height: 60%;
    object-fit: contain;
    border-radius: 8px; 
  }
  .matrix-container {
    width: 100%; 
    max-width: 600px; 
    margin: 0 auto; 
  }
  .content {
    background-color: rgba(255, 255, 255, 0.882);
    color: black;
    backdrop-filter: blur(1px); 
    border-radius: 10px; 
    width: 90%;
    margin-left: 20px;
    justify-content : center;
    border: 2px solid #0f0;
    max-height: calc(100vh - 100px); 
    overflow-y: auto; 
  }
  .about-me-section h2 {
    font-size: 24px; 
  }
  
  .about-me-section h4 {
    font-size: 10px; 
  }
  .image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3vh;
  }
  
  .center-image {
    max-width: 100%;
    height: 20vh;
    border-radius: 100px 100px;
  }

  .text1 {
    overflow-y: auto;
    font-size: 0.8rem;
    line-height: 2.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0f0; 
  }

  .resume {
    margin-left: 15px;
    width: 80vw;
    justify-content: center;
    align-items: center;
  }

  .iframe-container iframe {
    margin-top: 4vh;
    margin-left: 0.9vw;
    height: 60vh;
    width: 78vw;
    transition: transform 0.8s ease;
  }

  .resume h2 {
    font-size: 1.1rem;
  }

  .resume a {
    font-size: 1.1rem;
  }
}
